{% extends 'bootstrap/base.html' %}bird
{% block title %}List of Birds{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">List of Birds</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bird Info</h1>

    {% for bird in birds %}
    <table class="table table-hover">
    <tr>
        <th style = "width:50px;">Id</th>
        <th></th>
        <th style = "width:150px;">Author</th>
	<th></th>
    </tr>
    <tr>
        <td>
            {% set hl = bird.id <= highlight['min'] %}
            {% if hl %}<b>{% endif %}
            {{ bird.id }}
            {% if hl %}</b>{% endif %}
        </td>
        <td></td>
        <td>{{ bird.author }}</td>
        <td></td>
    </tr>
    <tr>
	<td colspan=4>{{ bird.title }}</td>
    </tr>
    <tr>
	<td colspan=4>{{ bird.permalink }}</td>
    </tr>
    </table>
    {% endfor %}

    </div>
{% endblock %}

