{% extends 'bootstrap/base.html' %}bird
{% block title %}List of Birds{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">List of Birds</a>
	    <a class="navbar-brand" href="/top10">Biggest Douchebag</a> 	    <a class="navbar-brand" href="/bottom10">Smallest Douchebag</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Biggest Douchebags</h1>

    {% for bird in birds %}
    <table class = "table table-hover" style = "width:625px; border-collapse: collapse;">
    <tbody>
    <tr>    
        <td style = "width:100px; text-align:left;">{{ bird.id }}</td>
        <td colspan = 2 style = "width:225px; text-align:left;"><a href="{{bird.url}}">{{ bird.title }}</a></td>
        <td style = "width:100px; text-align:left;"> &nbsp; </td>
    </tr>
    <tr>
    	<td colspan = 2 style="width:100px; text-align: left;">{{ bird.author }} </td>
        <td colspan = 1 style="width:225px; text-align: left;">Score: {{ bird.score }}</td>
        <td colspan = 1 style="width:100px; text-align: left;">Ups: {{ bird.ups }}</td>
    </tr>
    </table>
    {% endfor %}

    </div>
{% endblock %}

